<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <div class="form-group">
      <div>
          <span class="input-group-addon">Select Weightclass</span>
          <div class="selectdiv">
            <select name="weight_class" class="custom-select sources">
                {% for o in data[0] %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
              </select>
      </div>
      <div>
        <span class="input-group-addon">Select Fighter Red Corner (Favourite)</span>
        <div class="selectdiv">
          <select name="r_fighter" class="option">
            {% for o in data[1] %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>        
      <div>
        <span class="input-group-addon">Select Fighter Blue Corner (Underdog)</span>
        <div class="selectdiv">
          <select name="b_fighter" class="option">
          {% for o in data[2] %}
          <option value="{{ o.name }}">{{ o.name }}</option>      
          {% endfor %}
          </select>   
        </div>           
      </div>
      <div>
        <span class="input-group-addon">Select Number of Rounds</span>
        <div class="selectdiv">
          <select name="rounds" class="option">
          {% for o in data[3] %}
          <option value="{{ o.name }}">{{ o.name }}</option>
          {% endfor %}
          </select>
        </div>
      </div>      
        
      <button type="submit" class="bg">Predict</button>
    </div>
  </form>

  <form method="POST" action="/submit" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.file.label }} {{ form.file(size=20) }}
    <input type="submit" value="Predict">
</form>