<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<body>
  <div>
    <h1 style="text-align: center;">UFC Predictions</h1>
    <br>
    <div style="text-align: center;">
      <form class="form-inline" method="POST" action="{{ url_for('test') }}">
        <div style="width: 30%; display: inline-block; text-align: center;">
          <div>
            <label style="font-size: 25px;">Select Weightclass</label>
            <div class="selectdiv">
              <select name="weight_class" class="custom-select sources">
                {% for o in data[0] %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br>
          <div>
            <label style="font-size: 25px;">Select Number of Rounds</label>
            <div class="selectdiv">
              <select name="rounds" class="option">
              {% for o in data[3] %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
              </select>
            </div>
          </div>  
        </div>
        
        <div style="width: 30%; float: left; text-align: center;">
          <span class="input-group-addon">Select Fighter Red Corner (Favourite)</span>
          <div class="selectdiv">
            <select name="r_fighter" class="option">
              {% for o in data[1] %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>        
        <div style="width: 30%; float: right; text-align: center;">
          <span class="input-group-addon">Select Fighter Blue Corner (Underdog)</span>
          <div class="selectdiv">
            <select name="b_fighter" class="option">
            {% for o in data[2] %}
            <option value="{{ o.name }}">{{ o.name }}</option>      
            {% endfor %}
            </select>   
          </div>           
        </div>

        <div style="width: 40%; margin-left: auto; margin-right: auto; text-align: left;">
          <br>
          <br>
          <center>
            <button type="submit" class="bg" style="font-size: 32px; background-color: rgba(255, 255, 255, 0.8);">Predict</button>
          </center>    
          <br>
        </div>          

      </form>
    </div> <!-- end div form1-->
    <br>

    <div style="text-align: center; margin-bottom: 25px; background: #ebdfdf; height: 8rem; line-height: 8rem;">
      <span style="font-size: 1.7em;">or upload a prediction file:</span>
    </div>  
    <br>

    <div  style="text-align: center;">
      <form method="POST" action="/submit" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <div style="width: 40%; display: inline-block; text-align: center;">
          <div>
            <span>Enter name file:</span>
            <input id="name" name="name" required="" type="text" value="name_of_predictions" 
            style="font-size: 1.5rem; margin: 15 auto; padding: 1rem 1.5rem;">
          </div>
          <br>
          <div>
            <span>upload file:  </span>
            <input id="file" name="file" type="file" style="box-sizing: border-box; text-align:center; width: 50%;">
          </div>
          <br>
          <div>
            <button type="submit" class="bg" style="font-size: 32px; background-color: rgba(255, 255, 255, 0.8);">Download predictions</button>
          </div>
        </div>
  
        
      </form>
    </div><!-- end div form2-->
    
  </div><!-- end div forms-->
    
</body>
